logs
*.log
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
npm-debug.log*
yarn-debug.log*
.vscode/
.idea/
.DS_Store
*.local
coverage
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules
dist
public
build
dist-ssr
.next
next-env.d.ts
package.json
package-lock.json
vitest.config.mts
vitest.setup.ts
