// Цвета
$primary-color: #1a1d5b;
$secondary-color: #6c717d;
$background-color: #efefef;
$background-color-header: #dad6d5;
$background-color-footer: #eaeaea;
$border-color-footer: #e5e4e4;
$text-color: #2f2f2f;
$text-color-footer: #777777;
$error-color: #ca4b3f;

// Шрифты
$font-family-base: 'Roboto', sans-serif;
$font-family-message: 'Arial', serif;
$font-size-base: 16px;
$line-height-base: 1.5;

// Отступы
$spacer: 1rem;
$padding-base: 1.5rem;
