// Цвета
$primary-color: #000000;
$secondary-color: #6c717d;
$background-color: #faf7f7;
$background-color-header: #cac6c6;
$background-color-footer: #ebe6e6;
$border-color-footer: #e4dfdf;
$text-color: #2f2f2f;
$text-color-footer: #777777;
$error-color: #ca4b3f;

// Шрифты
$font-family-base: 'Roboto', sans-serif;
$font-family-message: 'Arial', serif;
$font-size-base: 16px;
$line-height-base: 1.5;

// Отступы
$spacer: 1rem;
// $padding-base: 1.5rem;

// Размеры
$header-height: 80px;
$header-height-fixed: 70px;
$footer-height: 110px;
