@import '../../styles/vars.module.scss';

.accent_background {
  background-color: $background-main;
  min-height: calc(100vh - $header-height);
  display: flex;
}
.main_info {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 6px;
  flex-grow: 1;
  width: 100%;
  padding: 14px;

  .main_info_title {
    padding-bottom: 30px;
    @media (max-width: 1156px) {
      font-size: 4.4rem;
      padding-bottom: 0;
    }
    @media (max-width: 991px) {
      font-size: 4rem;
      padding-bottom: 0;
    }
  }
}

.main_info_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 30px;
  width: 55%;
  @media (max-width: 1156px) {
    gap: 15px;
    padding-left: 16px;
  }

  .main_info_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    @media (max-width: 1156px) {
      flex-direction: column;
      align-items: flex-start;
    }
    @media (max-width: 860px) {
      flex-direction: row;
    }
  }
}

.main_link {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 12px 16px 12px 14px;
  border: 3px solid #870404;
  border-radius: 3px;

  &:hover {
    // background-color: rgba(#d20000, 0.05);
    padding: 12px 16px 12px 14px;
    border: 3px solid #d20000;
    border-radius: 3px;
    text-decoration: none;

    .icon_arrow {
      transform: translateX(8px);
      transition: 0.7s;
    }
  }
  @media (max-width: 991px) {
    padding: 8px 12px 8px 10px;
  }
}

.icon_arrow {
  font-size: 'small';
}

.main_info_img {
  width: 45%;
  margin: 5rem 1rem;
  position: relative;
  @media (max-width: 860px) {
    margin: 1rem 0.2rem;
  }
}

.main_img_screenshot {
  position: absolute;
  width: 700px;
  max-width: 75%;
  height: auto;
  box-shadow: 3px 5px 10px 3px rgba($border-footer, 0.8);
}

.main_img_screenshot1 {
  top: 0px;
  left: 0px;
  @media (max-width: 860px) {
    display: none;
  }
}
.main_img_screenshot2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: 860px) {
    display: none;
  }
}
.main_img_screenshot3 {
  right: 0;
  bottom: 0;
  @media (max-width: 860px) {
    display: none;
  }
}

.main_not_auth {
  background-color: $background-main;
  min-height: calc(100vh - $header-height - $footer-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
}
