@import '../../styles/vars.module.scss';

.footer_wrapper {
  display: flex;
  justify-content: center;
  height: $footer-height;
  background-color: $background-footer;
}

.footer_info {
  padding: 0px 14px;
  color: $background-default;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.footer_links {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex-grow: 1;

  .link {
    color: $background-default;
    &:hover {
      color: $secondary-main;
    }
  }
}
