@import '../../styles/vars.scss';

.footer_wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $footer-height;
  background-color: $background-color-footer;
  border-top: 2px solid $border-color-footer;
}

.footer {
  color: $text-color-footer;
  width: 990px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 10px 0px;
}

.footer_links {
  flex-grow: 1;
}
